<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/main_demo.css' %}">
<title>天鹰监测系统</title>
</head>
<body>
<div style="width: 1300px;margin: auto;">
    <header style="background-color: #547ca5;height: 100px;vertical-align: center;">
        <img src="/static/img/eagle.jpg" height="100px" width="120px">
        <h2 style="text-align: center;margin-top: -60px;">天鹰监测系统</h2>
        <span style="position:relative;float: right;bottom: 30px;right: 20px;">
        <span ><a href="{% url 'socialNetworkCode:logout' %}" style="color: black;" >Logout</a></span>
        </span>
    </header>
        <br><br>

    <div style="float: left;">
        <div class="navigate" style="background-color: #F9FAFB;">
            <ul class="">
                <h3 style="text-align: center;">{{ nickname }}</h3>
                <li><a href="/socialNetworkCode/newgn" >监测信息表</a></li>
                <li><a href="javascript:void(0);"  ><b>用户划分</b></a></li>
                <li><a href="javascript:void(0);"  ><b>|-社区划分</b></a></li>
                <li><a href="{% url 'socialNetworkCode:recommendation' name %}"  >|-兴趣划分</a></li>

            </ul>
        </div>

        <br><br>




        <div class="navigate" style="background-color: #F9FAFB;">
            <ul class="">
                <li><a><b>分析结果</b></a></li>
                <li><a><b>|-同社区关系</b></a></li>

                <li id="spread" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;">影响力</li>
                <li id="spread_num" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;margin-top: 10px;">影响力因子</li>

{#                <li id="sort" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;">派系分析</li>#}
                <li id="part" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;margin-bottom: 50px;">成分分析</li>
{#                <li id="gn" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;">社区划分</li>#}

{#                <li><a href="javascript:void(0);" ><b>|-全网络关系</b></a></li>#}
{#                <li id="all_modul" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;">最大模块度</li>#}
{#                <li id="gn_num" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;">社区数量</li>#}

                <li style="margin-top: 30px"><a href="javascript:void(0);" ><b>|-参数下关系</b></a></li>
                <li id="param_modul" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;">最大模块度</li>
                <li id="param_gn_num" class="param" style="color:#4183C4;font-size: 16px;padding:7px 55px;display: block;width: 100px;">社区数量</li>


            </ul>
        </div>
        <br><br>

        <div class="navigate" style="background-color: #F9FAFB;">
            <ul class="">
                <li><a href="javascript:void(0);" ><b>参数控制</b></a></li>
                <li><a href="" onclick='return selectParam("gender")' >性别</a></li>
                <li><a href="" onclick='return selectParam("province");' >省份</a></li>

            </ul>
        </div>


    </div>



    <div class="content" style="float: left;margin-left: 20px;height:auto;">
        <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;width: 1000px;">同社区下人物关系图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社区层级关系图</h3>

        <div style="margin-left: 20px;height:500px;width:900px;">
            <div id="main1" style="height:500px;width:450px;float: left"></div>
            <div id="main1_append" style="float: left;height:500px;width:450px;"></div>

        </div>

{#        <em>gn计算</em>#}


{#        <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;width: 1000px;">全网络人物关系图</h3>#}
{##}
{#        <div id="main2" style="margin-left: 20px;height:600px;width:900px;"></div>#}

        <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;width: 1000px;">参数控制人物关系图</h3>

        <div id="main3" style="margin-left: 20px;height:600px;width:900px;"></div>


    </div>



</div>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script src="{% static 'js/jquery-2.1.0.js' %}"></script>

    <script src="{% static 'js/echarts.js' %}"></script>


    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });

        require(
            [
                'echarts',
                'echarts/chart/force', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/bar',
                'echarts/chart/map',
                'echarts/chart/funnel',


            ],
        function (ec) {
            var myChart1 = ec.init(document.getElementById('main1'));
            var option1 = {
                title: {
                    text: name,
                    x: 'right',
                    y: 'bottom'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} : {b}'
                },
                toolbox: {
                    show: true,
                    feature: {
                        restore: {show: true},
                        magicType: {show: true, type: ['force', 'chord']},
                        saveAsImage: {show: true}
                    }
                },
                legend: {
                    x: 'left',
                    data: ['本人', '朋友']
                },
                series: [
                    {
                        type: 'force',
                        name: "人物关系",
                        ribbonType: false,
                        categories: [
                            {
                                name: '本人'
                            },
                            {
                                name: '朋友'
                            }
                        ],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    textStyle: {
                                        color: '#333'
                                    }
                                },
                                nodeStyle: {
                                    brushType: 'both',
                                    borderColor: 'rgba(255,215,0,0.4)',
                                    borderWidth: 1
                                },
                                linkStyle: {
                                    type: 'curve'
                                }
                            },
                            emphasis: {
                                label: {
                                    show: false
                                    // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                                },
                                nodeStyle: {
                                    //r: 30
                                },
                                linkStyle: {}
                            }
                        },
                        useWorker: false,
                        minRadius: 15,
                        maxRadius: 25,
                        gravity: 1.1,
                        scaling: 1.1,
                        roam: 'move',
                        nodes: [
                        ],
                        links: [
                               ]
                    }
                ]
            };

            $.ajax({
                type:"POST",
                dataType:"json",
                url:"{% url 'socialNetworkCode:gn_part' name %}",
                success:function(data){
                    console.log(data)
                    var length = data.length;
                    var friends = data[length-2].friends;
                    for(var i = 0;i<friends.length;i++){
                        var node = {};
                        var id = friends[i].split(":")[1];
                        var u = "/socialNetworkCode/gn/" + id;
                        if(friends[i].split(":")[0] == data[0].name){
                            node = {category: 0, name: friends[i].split(":")[0], value: 10,url:u};
                        }else{
                            node = {category: 1, name: friends[i].split(":")[0], value: 5,url:u};
                        }
                        option1.series[0].nodes.push(node);
                    }

                    var length = data.length-3 ;
                    var pair = 0;
                    for(var i = 1;i<length;i++){
                        var list = {source:data[i]["source"+pair],target:data[++i]["target"+pair],weight:1};
                        pair++;
                        option1.series[0].links.push(list);

                    }
                    console.log(option1)

                    var ecConfig = require('echarts/config');
                    function focus(param) {
                        var data = param.data;
                        var links = option1.series[0].links;
                        var nodes = option1.series[0].nodes;
                        if (
                            data.source !== undefined
                            && data.target !== undefined
                        ) { //点击的是边
                            var sourceNode = nodes.filter(function (n) {return n.name == data.source})[0];
                            var targetNode = nodes.filter(function (n) {return n.name == data.target})[0];
                        } else { // 点击的是点
                        }
                    }
                    myChart1.on(ecConfig.EVENT.CLICK, focus)

                    myChart1.on(ecConfig.EVENT.FORCE_LAYOUT_END, function () {
                        console.log(myChart1.chart.force.getPosition());
                    });
                    // 为echarts对象加载数据
                    myChart1.setOption(option1);
                    myChart1.on("click",function(e){
                       window.open(e.data.url)
                    });

                    var spread = data[data.length-3]["maxspread"];
                    var count = data[data.length-3]["maxcount"];
                    console.log(spread + count)

                    //数据分析
                    $("#spread").html("影响力最大:<br>" + spread );
                    $("#spread_num").html("影响因子:<br>" + count);

                    $("#sort").html();
                    $("#part").html();
                    $("#gn").html();


                    {#取出数据放入层级关系图funnel中#}
                     //main1_append start
            var myChart11 = ec.init(document.getElementById('main1_append'));

            var option11 = {
                {#//tooltip : {#}
                {#  //  trigger: 'item',#}
                {#    //formatter: "{a} <br/>{b} : {c}%"#}
                {#//},#}
                legend: {
                    data : []
                },
                calculable : true,
                series : [
                        {
                        name:'金字塔',
                        type:'funnel',
                        left:'5%',
                        top: 60,
                        bottom: 60,
                        width: '80%',
                        min: 0,
                        max: 100,
                        minSize: '0%',
                        maxSize: '100%',
                        sort : 'ascending',
                        gap:2,
                        label: {
                            show: true,
                            position: 'inside'
                            {#    normal: {#}
                            {#        position: 'left', // 标签的位置:'left'漏斗图的左侧）、'right'(右侧)、'inside'(内部) [ default: 'outside' ]#}
                            {#    },#}
                            {#    emphasis: { // 本系列每个数据项中特定的 tooltip 设定#}
                            {#        position:'left',#}
                            {#        formatter: '{b}: {c}%'#}
                            {#    }#}

                        },
                        labelLine: {
                            length: 10,
                            lineStyle: {
                                width: 1,
                                type: 'solid'
                            }
                        },
                        itemStyle: {
                            borderColor: '#fff',
                            borderWidth: 1
                        },
                        data:[]
                    }
                ]
            };


                var level_num = data[data.length-1]["level_num"];
                var level = data[data.length-1]["level"];
                {#console.log("level_num"+level_num)#}
                {#console.log("level"+level)#}
                for(var i = 0;i<level_num;i++){
                    option11.legend.data.push("level" + (i+1))
                }

                {#console.log(option11.legend.data);#}
                var str = "";
                for(var key in level){
                    option11.series[0].data.push({value: 1/key * 10, name: level[key]})
                    str += ("level" + key + "->" + level[key].split(",").length + "<br>")
                }
                {#console.log(option11.series[0].data)#}
                $("#part").html("成分分析:<br>" + str);

                myChart11.setOption(option11);

                }
            });


            //main1_append  end

            // 为echarts对象加载数据
            //myChart1.setOption(option1);

            //chart2 start

            // 基于准备好的dom，初始化echarts图表   MmeMagloire


            {#var myChart = ec.init(document.getElementById('main2'));#}
            {##}
            {##}
            {#var option = {#}
            {#         title : {#}
            {#        // text: '人物关系：乔布斯',#}
            {#        // subtext: '数据来自人立方',#}
            {#        x:'right',#}
            {#        y:'bottom'#}
            {#    },#}
            {#        tooltip : {#}
            {#            trigger: 'item',#}
            {#            formatter: '{a} : {b}'#}
            {#        },#}
            {#        toolbox: {#}
            {#            show : true,#}
            {#            feature : {#}
            {#                restore : {show: true},#}
            {#                magicType: {show: true, type: ['force', 'chord']},#}
            {#                saveAsImage : {show: true}#}
            {#            }#}
            {#        },#}
            {#        legend: {#}
            {#            x: 'left',#}
            {#            data:['c0','c1','c2','c3','c4','c5','c6']#}
            {#        },#}
            {#        series : [#}
            {#            {#}
            {#                type:'force',#}
            {#                name : "人物关系",#}
            {#                ribbonType: false,#}
            {#                categories : [#}
            {#                    {#}
            {#                        name: 'c0'#}
            {#                    },#}
            {#                    {#}
            {#                        name: 'c1'#}
            {#                    },#}
            {#                    {#}
            {#                        name: 'c2'#}
            {#                    },#}
            {#                    {#}
            {#                        name: 'c3'#}
            {#                    },#}
            {#                    {#}
            {#                        name: 'c4'#}
            {#                    },#}
            {#                    {#}
            {#                        name: 'c5'#}
            {#                    },#}
            {#                    {#}
            {#                        name: 'c6'#}
            {#                    }#}
            {#                ],#}
            {#                itemStyle: {#}
            {#                    normal: {#}
            {#                        label: {#}
            {#                            show: true,#}
            {#                            textStyle: {#}
            {#                                color: '#333'#}
            {#                            }#}
            {#                        },#}
            {#                        nodeStyle : {#}
            {#                            brushType : 'both',#}
            {#                            borderColor : 'rgba(255,215,0,0.4)',#}
            {#                            borderWidth : 1#}
            {#                        },#}
            {#                        linkStyle: {#}
            {#                            type: 'curve'#}
            {#                        }#}
            {#                    },#}
            {#                    emphasis: {#}
            {#                        label: {#}
            {#                            show: false#}
            {#                            // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE#}
            {#                        },#}
            {#                        nodeStyle : {#}
            {#                            //r: 30#}
            {#                        },#}
            {#                        linkStyle : {}#}
            {#                    }#}
            {#                },#}
            {#                useWorker: false,#}
            {#                minRadius : 15,#}
            {#                maxRadius : 25,#}
            {#                gravity: 1.1,#}
            {#                scaling: 1.1,#}
            {#                roam: 'move',#}
            {#                nodes:[],#}
            {#                links : []#}
            {#            }#}
            {#        ]#}
            {#    };#}
            {##}
            {#$.ajax({#}
            {#    type:"POST",#}
            {#    dataType:"json",#}
            {#    url:"{% url 'socialNetworkCode:all_gn' %}",#}
            {#    success:function(data){#}
            {#        var len = data.length-1;#}
            {#        var communites = data[len].communites;#}
            {#        for(var i = 0;i<communites.length;i++){#}
            {#            var node = {};#}
            {#            for(var j = 0;j<communites[i].length;j++){#}
            {#                node = {category: i, name: communites[i][j], value: 10};#}
            {#                option.series[0].nodes.push(node);#}
            {#            }#}
            {#        }#}
            {##}
            {#        var length = data.length-1 ;#}
            {#        var pair = 0;#}
            {#        for(var i = 0;i<length;i++){#}
            {#            var list = {source:data[i]["source"+pair],target:data[++i]["target"+pair],weight:1};#}
            {#            pair++;#}
            {#            option.series[0].links.push(list);#}
            {##}
            {#        }#}
            {##}
            {#        var ecConfig = require('echarts/config');#}
            {##}
            {#        function focus2(param) {#}
            {#            var data = param.data;#}
            {#            var links = option.series[0].links;#}
            {#            var nodes = option.series[0].nodes;#}
            {#            if (#}
            {#                data.source !== undefined#}
            {#                && data.target !== undefined#}
            {#            ) { //点击的是边#}
            {#                var sourceNode = nodes.filter(function (n) {return n.name == data.source})[0];#}
            {#                var targetNode = nodes.filter(function (n) {return n.name == data.target})[0];#}
            {#                console.log("选中了边 " + sourceNode.name + ' -> ' + targetNode.name + ' (' + data.weight + ')');#}
            {#            } else { // 点击的是点#}
            {#                console.log("选中了" + data.name + '(' + data.value + ')');#}
            {#            }#}
            {#            }#}
            {#        myChart.on(ecConfig.EVENT.CLICK, focus2)#}
            {##}
            {#        myChart.on(ecConfig.EVENT.FORCE_LAYOUT_END, function () {#}
            {#            console.log(myChart.chart.force.getPosition());#}
            {#        });#}
            {##}
            {#        // 为echarts对象加载数据#}
            {#        myChart.setOption(option);#}
            {##}
            {#        $("#all_modul").html("最大模块度:<br>" + 0.47);#}
            {#        $("#gn_num").html("最优社区数量:<br>20");#}
            {##}
            {#    }#}
            {#});#}

            //chart2 end
        }
        );



    </script>
    <script type="text/javascript">
        function selectParam(select){
            console.log(select);
            $.ajax({
                type:'POST',
                dataType:"json",
                url:"{% url 'socialNetworkCode:param_gender' name %}?select=" + select,
                success:function(data) {
                    console.log(data)

                    // 路径配置
                    require.config({
                        paths: {
                            echarts: 'http://echarts.baidu.com/build/dist'
                        }
                    });

                    require(
                        [
                            'echarts',
                            'echarts/chart/force' // 使用柱状图就加载bar模块，按需加载
                        ],
                        function (ec) {
                            var myChart2 = ec.init(document.getElementById('main3'));
                            var option2 = {
                                title: {
                                    text: name,
                                    x: 'right',
                                    y: 'bottom'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: '{a} : {b}'
                                },
                                toolbox: {
                                    show: true,
                                    feature: {
                                        restore: {show: true},
                                        magicType: {show: true, type: ['force', 'chord']},
                                        saveAsImage: {show: true}
                                    }
                                },
                                legend: {
                                    x: 'left',
                                    data: []
                                },
                                series: [
                                    {
                                        type: 'force',
                                        name: "人物关系",
                                        ribbonType: false,
                                        categories: [

                                        ],
                                        itemStyle: {
                                            normal: {
                                                label: {
                                                    show: true,
                                                    textStyle: {
                                                        color: '#333'
                                                    }
                                                },
                                                nodeStyle: {
                                                    brushType: 'both',
                                                    borderColor: 'rgba(255,215,0,0.4)',
                                                    borderWidth: 1
                                                },
                                                linkStyle: {
                                                    type: 'curve'
                                                }
                                            },
                                            emphasis: {
                                                label: {
                                                    show: false
                                                    // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                                                },
                                                nodeStyle: {
                                                    //r: 30
                                                },
                                                linkStyle: {}
                                            }
                                        },
                                        useWorker: false,
                                        minRadius: 15,
                                        maxRadius: 25,
                                        gravity: 1.1,
                                        scaling: 1.1,
                                        roam: 'move',
                                        nodes: [],
                                        links: [
                                             ]
                                    }
                                ]
                            };

                            var communication = data[0]['communication'];
                            var length = communication.length;
                            console.log(length);
                            for(var i = 0;i<length;i++){

                                option2.legend.data.push('c' + i);

                                var temp = communication[i];
                                for(var j = 0;j<temp.length;j++){
                                    var node = {category:i, name: temp[j]};
                                    option2.series[0].nodes.push(node);
                                }

                                var ca = {name : 'c' + i};
                                option2.series[0].categories.push(ca);
                            }

                            var edge = data[1]['edge'];
                            for(var i=0;i<edge.length;i++){
                                var temp = {source:edge[i][0],target:edge[i][1] ,weight:6};
                                option2.series[0].links.push(temp);

                            }

                            console.log(option2);
                            myChart2.setOption(option2);

                            //
                            var maxQ = data[2]['maxQ'];

                            $("#param_modul").html("最大模块度:<br>" + maxQ.toFixed(2));

                            $("#param_gn_num").html("最优社区数:<br>" + length);

                        })


                }
            });


            return false;
        }

    </script>
    </body>
</html>