<html xmlns="http://www.w3.org/1999/xhtml" xmlns="">
{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/main_demo.css' %}">
<title>天鹰监测系统</title>
    <style>
        table thead, tbody tr{
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        table thead {
            width: calc(100% - 1em);
        }
    </style>
</head>
<body>
<div style="width: 1300px;margin: auto;">
    <header style="background-color: #547ca5;height: 100px;vertical-align: center;">
        <img src="/static/img/eagle.jpg" height="100px" width="120px">
        <h2 style="text-align: center;margin-top: -60px;">天鹰监测系统</h2>
        <span style="position:relative;float: right;bottom: 30px;right: 20px;">
        <a href="#" style="color: black;" >{{ user.username }}<span class="caret"></span></a>
        <span ><a href="{% url 'socialNetworkCode:logout' %}" style="color: black;" >Logout</a></span>
        </span>
    </header>
        <br><br>


    <div class="navigate" style="float: left;background-color: #F9FAFB;">
        <ul class="">
            <li><a href="javascript:void(0);" style="background-color:  #ecf5ff"  ><b>监测信息表</b></a></li>
            <li><a href="javascript:void(0);">用户划分</a></li>
        </ul>
    </div>
<div class="content" style="float: left;margin-left: 20px;">
        <div class="basic_info">
            <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;width: 1000px;">用户信息</h3>
                <table class="table" style="width:900px;margin-left: 50px;">
                <thead style="/*display: block;width: 900px;min-width: 900px;max-width: 900px;*/">
                    <tr>
                        <th >nickname</th>
                        <th >province</th>
                        <th >slogan</th>
                        <th >tag_str</th>
                    </tr>
                </thead>

                <tbody style="height: 300px;overflow-y: hidden;overflow:auto ;display: block;">
                <tr><td ><a href="{% url 'socialNetworkCode:gn'  '1786765390'  %}">是梦宝呀_</a></td>
                <td>北京</td>
                <td>2019-自律自强／不造口业</td>
                <td>舒淇||马思纯||刘涛||朴志效||戚薇||金宥斌</td></tr>

                <tr><td ><a href="{% url 'socialNetworkCode:gn'  '2013308075'  %}">鞠然是婧祎啊</a></td>
                <td>云南</td>
                <td>陪你将风浪踏成红毯</td>
                <td>孩子气</td></tr>

                <tr><td ><a href="{% url 'socialNetworkCode:gn'  '305142'  %}">魏小言-</a></td>
                <td>北京</td>
                <td>wyuei，发的啥都</td>
                <td>黑喵||鞠婧祎</td></tr>

                <tr><td ><a href="{% url 'socialNetworkCode:gn'  '3439746044'  %}">Arayumi</a></td>
                <td>上海</td>
                <td>无聊</td>
                <td>H豚E厨||工科女||歌姬控||鞠推卡鞠党</td></tr>

                <tr><td ><a href="{% url 'socialNetworkCode:gn'  '3542512733'  %}">佛系鞠狐</a></td>
                <td>北京</td>
                <td>鞠婧祎，我愿化身为剑，护你一世周全！</td>
                <td></td></tr>

                <tr><td ><a href="{% url 'socialNetworkCode:gn'  '3740408065'  %}">一只小虫崽</a></td>
                <td>上海</td>
                <td>爱剪视频却很懒的……小虫配骑</td>
                <td>明星偶像||广告||音乐控||设计||视频编辑||视频||剪辑||视频剪辑||名人明星</td></tr>
                </tbody>
                </table>
            <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;">Topic-Word</h3>
                <table class="table" style="width: 900px;margin-left: 50px">
                <thead>
                <tr><th >Topic</th>
                <th >Word</th>
                </tr></thead>
                <tbody>
                <tr>
                <td >Topic #0</td>
                <td>分儿 20 有没有 小鞠配 晚安 鞠婧 这个 其实 一直 了不起 那个 全文 网页 链接 匿名</td>
                </tr>

                <tr>
                <td >Topic #1</td>
                <td>青春 鞠婧 小鞠配 艺燃榜 剧场 爱奇 能量 新歌 档案室 积分 亚洲 天长 视频 艺悦 享会</td>
                </tr>
                <tr>
                <td >Topic #2</td>
                <td>分儿 20 有没有 小鞠配 晚安 鞠婧 这个 其实 一直 了不起 那个 全文 网页 链接 匿名</td>
                </tr>
                <tr>
                <td >Topic #3</td>
                <td>为荣 为耻 鞠婧 新白娘子 传奇 太太 情人节 电视剧 一下 喜欢 人民 明天 好友 抽奖 希望</td>
                </tr>
                <tr>
                <td >Topic #4</td>
                <td>鞠婧 打卡 淡忘 熊猫 明星 创建 守护者 小鞠配 加入 积分 势力 芸汐 禁止 转基因 竹子</td>
                </tr>
                <tr>
                <td >Topic #5</td>
                <td>鞠婧 小鞠配 全文 forever day to 积分 新白娘子 传奇 几分 角色 相思 电视剧 一双 翅膀</td>
                </tr>
                <tr>
                <td >Topic #6</td>
                <td>微博 正文 嘎嘎 鞠婧 合集 00 情人节 麻麻 自拍 呜呜 回报 礼物 小鞠配 新歌 这个</td>
                </tr>
                <tr>
                <td >Topic #7</td>
                <td>鞠婧 一个 传奇 新白娘子 啊啊啊 积分 签到 微博 电视剧 百度 搜索 舒淇 小鞠配 超话 还是</td>
                </tr>
                <tr>
                <td >Topic #8</td>
                <td>加油 红包 现金 kiku 就是 麻吉 掰头 火山 最后 我要 愿望 实现 其实 试试 好运来</td>
                </tr>
                <tr>
                <td >Topic #9</td>
                <td>鞠婧 国风 美少年 相思 新歌 新白娘子 传奇 天长 亚洲 电视剧 自己 方面 发泄 一个 匿名</td>
                </tr>

                </tbody>
                </table>
            <br><br>

</div>
  </div>




</div>
</body>
</html>