<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/main_demo.css' %}">
<title>天鹰监测系统</title>
</head>
<body>
<div style="width: 1300px;margin: auto;">
    <header style="background-color: #547ca5;height: 100px;vertical-align: center;">
        <img src="/static/img/eagle.jpg" height="100px" width="120px">
        <h2 style="text-align: center;margin-top: -60px;">天鹰监测系统</h2>
        <span style="position:relative;float: right;bottom: 30px;right: 20px;">
        <a href="#" style="color: black;" >{{ user.username }}<span class="caret"></span></a>
        <span ><a href="{% url 'socialNetworkCode:logout' %}" style="color: black;" >Logout</a></span>
        </span>
    </header>
        <br><br>
    <div class="navigate" style="background-color: #F9FAFB;float: left;">
            <ul class="">
                <li><a href="/socialNetworkCode/newgn" >监测信息表</a></li>
                <li><a href="javascript:void(0);"  ><b>用户划分</b></a></li>
                <li><a href="{% url 'socialNetworkCode:gn' name %}"  >|-社区划分</a></li>
                <li><a href="javascript:void(0);"  ><b>|-兴趣划分</b></a></li>

            </ul>
        </div>
    <div class="content" style="float: left;margin-left: 20px;">
        <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;width: 1000px;">主题相似人物推荐</h3>
        <table class="table"  style="width: 900px;margin-left: 50px">
            <thead>
                <tr><th >相似人物</th><th>相似标签</th></tr>
            </thead>
                <tbody>
                    {% for info in sim_people%}

{#                    {% for  %}#}

{#                    {% console.log(sim_people) %}#}
                    <tr>
                            <td><a href="javascript:void(0);"  >{{ info }}</a></td>
                            <td>Topic{{ type }}</td>

                    </tr>
                    {% endfor %}

                </tbody>
        </table>

        <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;width: 1000px;">标签-主题</h3>
        <table class="table"  style="width: 900px;margin-left: 50px">
            <thead>
                <tr><th >标签</th><th>主题</th></tr>
            </thead>
                <tbody>
                    <tr>
                            <td>Topic{{ type }}</td>
                            <td>{{ topic_word }}</td>
                    </tr>
                </tbody>
        </table>


        <h3 style="background-color: rgb(224, 224, 224);padding: 10px 30px;width: 1000px;">行为相似人物推荐</h3>
        <div id="aprior" style="margin-left: 20px;height:600px;width:900px;"></div>



    </div>
</div>
</body>
{#    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>#}
    <script src="{% static 'js/jquery-2.1.0.js' %}"></script>
    <script src="{% static 'js/echarts.js' %}"></script>

    <script type="text/javascript">
        {#console.log({{ aprior }})#}

        let myChart = echarts.init(document.getElementById('aprior'))

        var option = {
            title: {
                text: '用户关联雷达图'
            },
            tooltip: {},
            legend: {
                data: ['关联度值（Allocated Budget）']
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                   }
                },
                indicator: [
                ]
            },
            series: [{
                name: '预算 vs 开销（Budget vs spending）',
                type: 'radar',
                // areaStyle: {normal: {}},
                data : [
                    {
                        value : [],
                        name : '关联度值（Allocated Budget）'
                    }
                ]
            }]
        };

        var dict = {{ aprior|safe }}
        {#console.log(Object.keys(dict).length)#}
        if(Object.keys(dict).length >0){
            for(var key in dict){
                var node = {}
                node = {name:key,max:1};
                option.radar.indicator.push(node);
                option.series[0].data[0].value.push(dict[key]);
             }
        }



        myChart.setOption(option)
    </script>

</html>